@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
/* Estrutura do corpo principal */
html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 375px;
    height: 80px;
    top: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}
nav ion-icon {
    font-size: 42px;
    margin-right: 22px;
    cursor: pointer;
}
main {
    background-color: #fafafa;
    width: 375px;
    height: 507px;
}
footer {
    width: 375px;
    height: 80px;
    bottom: 0;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ion-icon {
    font-size: 26px;
    margin-right: 18px;
    cursor: pointer;
}
footer input {
    color: #000000;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: transparent;
    margin-left: 17px;
}
/* Estrutura da janela lateral */
.esconder {
    display: none;
}
aside {
    position: fixed;
    top: 0;
    display: flex;
    height: 667px;
}
.transparente {
    width: 106px;
    background-color: rgba(0, 0, 0, 0.6);
}
.painel-lateral {
    width: 269px;
    background-color: #FFFFFF;
}
.titulo01 {
    display: flex;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo02 {
    display: flex;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
aside ion-icon {
    font-size: 23px;
}
aside li {
    height: 36px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
aside li p {
    margin-left: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
/* Tela de login */
section {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    height: 667px;
}
section img {
    margin-top: 72px;
    margin-bottom: 94px;
    width: 130px;
    height: 92px;
}
.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usuario input {
    background-color: #FFFFFF;
    width: 261px;
    height: 54px;
    border: solid 1px #D7D7D7;
    border-radius: 4px;
    color: #AEAEAE;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
}
.usuario button {
    width: 109px;
    height: 45px;
    background-color: #E7E7E7;
    border-radius: 9px;
    border: transparent;
    color: #696969;
    cursor: pointer;
}